* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-image: url("images/new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

#header {
  background-color: rgb(180, 72, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 70px;
  padding: 5px;
  padding-top: 10px;
}

.tes {
  font-size: 11px;
  padding-left: 6px;
}

.school-name {
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-left: 8px;
}

.tagline {
  font-size: 16px;
  color: rgb(253, 228, 6);
  margin-top: 5px;
  margin-left: 20px;
  font-style: italic;
}

nav {
  flex-grow: 1;
  text-align: right;
  flex-wrap: wrap;
  padding-top: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

nav li {
  margin-left: 20px;
}

nav li a {
  color: white;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 0.8rem;
}

nav li a:hover,
nav li a.active {
  color: lawngreen;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: white;
  text-underline-position: under;
  /* border-bottom: 2px solid white; */
}

.hero {
  margin-top: 10px;
  height: 250px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

.hero h1.hero-content {
  font-size: 35px;
/*   color: #161515; */
  color: rgb(10, 80, 60);
  /* color: rgb(32, 32, 221); */
}

.hero h1 {
  margin: 0;
  font-size: 2rem;
}

.btn {
  background-color: #eccb10;
  color: white;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 30px;
}

button:hover {
  background: #ff0000;
}

/* second section styling*/
.sec2 {
  background-color: white;
  color: black;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 100px;
  gap: 100px;
  font-family: Arial, sans-serif;
}

.content {
  flex: 1;
  padding-top: 20px;
}

.title-sec h2 {
  margin: 0;
  font-size: 2rem;
  color: #2b4162;
}

.title-sec h2:nth-child(2) {
  color: #8b4513;
}

.title-sec h2:nth-child(3) {
  color: #ffa500;
}

.description {
  margin-top: 10px;
  line-height: 1.4;
  color: #333;
  font-size: 0.8rem;
  width: 400px;
}

.apply-button {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 30px;
  border: 2px solid #2b4162;
  border-radius: 5px;
  color: #2b4162;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  height: 40px;
  width: 145px;
  font-size: 13px;
}

.apply-button:hover {
  background-color: #365e99;
  color: white;
}

.image-sec {
  flex: 1;
}

.image-sec img {
  width: 100%;
  /* width: 350px; */
  border-radius: 100px;
  height: auto;
  box-shadow: 0 4px 8px red;
}

.last-test {
  padding-top: 3px;
  height: 150px;
  background-color: rgb(10, 80, 60);
  text-align: center; 
}

.last-test p{
  font-weight: bold;
}

.move {
  display: flex;
  justify-content: center;
  padding-top: 27px;
  font-size: 11px;
  gap: 180px;
}

.left {
  text-align: left;
}

.right a {
  text-align: right;
  color: white;
}

.foot {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: rgb(180, 72, 0);
  color: white;
  text-align: center;
  padding-top: 5px;
  font-weight: bolder;
  font-size: 11px;
}

@media screen and (max-width: 600px) {
  body {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: absolute;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
  }

  #header {
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    align-items: center;
  }

  nav li {
    margin-left: 0;
    padding: 5px;
  }

  /* .hero-content {
    height: 150px;
    font-size: 1.2rem;
  } */

  .hero h1.hero-content {
    font-size: 1.5rem;
  }

  .school-name {
    font-size: 18px;
  }

  .btn {
    padding: 8px 16px;
  }

  .foot {
    position: fixed;
    margin-top: auto;
    height: 30px;
    font-size: 10px;
  }

  .sec2 {
    flex-direction: column;
    padding: 10px 250px;
    gap: 5px;
    max-width: 600px;
    gap: 10px;
  }

  .content,
  .image-sec {
    width: 100%;
  }

  .title-sec h2 {
    font-size: 1rem;
  }

  .description {
    margin-top: 3px;
    line-height: 1;
    font-size: 0.4rem;
  }

  .image-sec img {
    width: 150px;
    border-radius: 50px;
    height: auto;
    box-shadow: 0 4px 8px red;
  }

  .image-sec {
    flex: 1;
  }

  .last-test p{
    font-weight: bold;
    font-size: 17px;
  }

  .last-test{
    height: 127px;
  }

  .move {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 10px;
    gap: 80px;
  }
  
  .left {
    text-align: left;
  }
  
  .right a {
    text-align: right;
    color: white;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
  }

  body {
    background-size: cover;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 14px;
  }

  nav li {
    margin-left: 15px;
  }

  .school-name {
    font-size: 20px;
  }

  .btn {
    padding: 10px 20px;
  }

  .sec2 {
    display: flex;
    padding: 10px 90px; 
    gap: 5px;
    max-width: 600px;
    gap: 5px; 
  }

  .image-sec img {
    width: 200px;
    border-radius: 50px;
    height: auto;
    box-shadow: 0 4px 8px red;
  }

  /* .image-sec {
    flex: 1;
  } */
}

@media screen and (min-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
  }

  .hero {
    height: 300px;
    /* font-size: 1.5rem; */
  }

  .hero h1 {
    /* font-size: 2.5rem; */
  }

  .school-name {
    font-size: 24px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16px;
  }

  nav li {
    margin-left: 20px;
  }

  .btn {
    padding: 12px 24px;
  }
}
